# cpus_per_worker setup examples
#
# on Archer 2
# 1. using 8 nodes (= 8*128 = 1024 cores) 1024 / 32 = 32 workgroups
# 2. using 2 nodes (= 2*128 = 256  cores) 256  / 32 = 8  workgroups
#
# task_start / task_end setup example
#
# for instance if you want to run A$m.gin - A$n.gin
# task_start m
# task_end   n
#
task_start	0
task_end	9999
cpus_per_worker  1	# using 32 cpu cores per workgroup

application python	# specifying using python
python_module_path /work/e05/e05/wkjee/Software/gulpklmc/CPython
python_module_name test_module
python_method_name random_gen
